<!DOCTYPE html>
<html>
	[[template "header"]]
<body>
	<div class="jumbotron page-block">
		<div class="about-block">
			<h1>About us</h1>
			<p>This system consists of AngularJS, Bootswatch and Golang</p>
			<p>
				<a class="btn btn-primary btn-lg">Learn more</a>
			</p>
		</div>
	</div>
	<script src="/static/js/index.js"></script>

</body>

</html>