<!DOCTYPE html>
<html>
	[[template "header"]]
<body>

	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>#</th>
				<th>Problem Name</th>
				<th>Sloved</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Column content</td>
				<td>Column content</td>
				<td>Column content</td>
			</tr>
		</tbody>
	</table>

	<script src="/static/js/index.js"></script>
</body>

</html>