<!DOCTYPE html>
<html>
	[[template "header"]]
<body>
<div ng-app="myApp" ng-controller="customersCtrl">
	<table class="table table-striped table-hover second-block">
		<thead>
			<tr>
				<th>#</th>
				<th>Contest Name</th>
				<th>Start</th>
				<th>End</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td><a href="/contestinfo?cid=1">{{ contestname }}</a></td>
				<td>{{ starttime }}</td>
				<td>{{ endtime }}</td>
			</tr>
		</tbody>
	</table>
<div>

	<script src="/static/js/index.js"></script>
</body>

</html>