<!DOCTYPE html>
<html>
	[[template "header"]]
<body>
	<div class="page-block">
		<div class="block-title">
			<h3>Title</h3>
			<h6>Time limit:</h6>
			<h6>Memory limit:</h6>
		</div>
		<div class="block-content">
			<h4>Description</h4>
			<div class="well">Look, I'm in a well!</div>
			<h4>Input</h4>
			<div class="well">Look, I'm in a well!</div>
			<h4>Output</h4>
			<div class="well">Look, I'm in a well!</div>
			<h4>Simple Input</h4>
			<div class="well">Look, I'm in a well!</div>
			<h4>Simple Output</h4>
			<div class="well">Look, I'm in a well!</div>
		</div>
	</div>
	<script src="/static/js/index.js"></script>
</body>

</html>