<!DOCTYPE html>
<html>
	[[template "header"]]
<body>
	<div class="page-block">
		<form class="navbar-form navbar-left form-submit" id="codeform" action="/ssubmit" method="post">
			<textarea class="form-control" id="textArea" form="codeform" name="code"></textarea>
			<div class="form-group form-btn-submit">
				<input type="text" class="form-control" id="problemID" placeholder="PID" name="pid">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
	</div>
	<script src="/static/js/index.js"></script>
</body>

</html>