.first-block {
	margin: 0 auto;
	width: 90%;
}

.second-block {
	margin: 0 auto;
	width: 85%;
}

.page-block {
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
}

.page-block .block-title {
	text-align: center;
}

.page-block .block-content {

}

.about-block {
	margin-left: 10%;
}

.btn-signup {
	vertical-align: -21px;
}

.btn-submit {
	margin: 0 auto;
	display: block;
	width: 85px;
}

#textArea {
	border: 1px solid #ddd;
	width: 100%;
	height: 450px;
	margin: 30px 0 10px 0;
	display: block;
	box-shadow: 0px 0px 3px #fafafa, 0px 0px 3px #fafafa;
}

.form-submit {
	display: block;
	width: 100%;
	padding: 0 10% 0 10%;
}

.form-btn-submit {
	float: right;
}