.first-block {
	margin: 0 auto;
	width: 90%;
}

.second-block {
	margin: 0 auto;
	width: 85%;
}

.page-block {
	margin: 0 auto;
	width: 80%;
}

.page-block .block-title {
	text-align: center;
}

.page-block .block-content {

}

.about-block {
	margin-left: 10%;
}